body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

  h1 {
	
	 background-color: skyblue;  / Dark green color *
	 border: 10px solid #2E8B57; 
    text-align: center;
    font-size: 5em;
    margin-bottom: 80px;
	width: 100%;
}

label {
    display: block;
    margin-bottom: 18px;
}



textarea {
    height: 150px;
}

button {
    background-color: skyblue;;
    color: black;
	font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(24, 133, 148);
}
body
{
	 border: 10px solid skyblue; 
}
.watermark {
  position: absolute;  /* Position the watermark element */
  top: 78%;  /* Center vertically (adjust as needed) */
  left: 60%;  /* Center horizontally (adjust as needed) */
  transform: translate(-50%, -50%);  /* Center the element within its space */
  opacity: 0.5; /* Adjust opacity for watermark visibility */
  width: 65%; /* Adjust width as needed */
 
  /* Optionally add a background color if using a text watermark */
}

.watermark img {
  width: 100%; /* Stretch image to fill watermark container */
   height: 750px;
}

label, select {
  margin-right: 10px;  /* Add some space between labels and dropdowns */
}

    footer {
      background-color: rgb(63,63,63); /* Set footer background color to blue */
      color: white; /* Set footer text color to white */
	  padding: 4px; /* Add padding for content within the footer */
	  text-align: Center;
	  padding-left: 44px;
	  margin-top: 10px;
	  width: 96.3%; /* Extend footer to the right margin */
    }

